{% extends 'base.html' %}

{% block display %}

<h1>Signup</h1>
    <form method="post">
        <table>
            <tbody><tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value={{username}}>
                    {% if un_error != "" %}
                    <span class="error">{{un_error}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    {% if pw_error != "" %}
                    <span class="error">{{pw_error}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                    <input name="verify" type="password">
                    {% if pv_error != "" %}
                    <span class="error">{{pv_error}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><label for="email">Email (optional)</label></td>
                <td>
                    <input name="email" value={{email}}>
                    {% if em_error != "" %}
                    <span class="error">{{em_error}}</span>
                    {% endif %}
                </td>
            </tr>
        </tbody></table>
        <input type="submit">
    </form>

{% endblock %}