{% extends 'base.html' %}

{% block display %}

<h1>Signup</h1>
    <form method="post">
        <table>
            <tbody><tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value={{username}}>
                    <span class="error">{% if un_error != "" %}{{un_error}}{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    <span class="error">{% if pw_error != "" %}{{pw_error}}{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                    <input name="verify" type="password">
                    <span class="error">{% if pv_error != "" %}{{pv_error}}{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email (optional)</label></td>
                <td>
                    <input name="email" type= "text" value={{email}}>
                    <span class="error">{% if em_error != "" %}{{em_error}}{% endif %}</span>
                </td>
            </tr>
        </tbody></table>
        <input type="submit">
    </form>

{% endblock %}